.comment-page {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #f9f7fe;
  .textarea {
    position: absolute;
    top: 128px;
    width: 80vw;
    height: 30vh;
    padding: 3vw;
    margin: 0 10vw;
    box-sizing: border-box;
    text-align: left;
    background-color: #ffffff;
    border-radius: 1vw;
  }
  .button-wrap {
    width: 100vw;
    position: absolute;
    bottom: 0;
    text-align: center;
    .button {
      width: 80vw;
      margin: 10vh 10vw;
    }
  }
}

